*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: #333;
  text-decoration:none;
}

.task {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}
.input-checkbox {
  margin-right: 10px;
}
.delButton {
  background: red;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  float: right;
  padding: 3px;
}

.addition{
  display:flex;

}
.addition-input{
  flex:1;
  padding: 10px 0;
}
.addition-btn{
  flex:0;
}

.container{
  width: 60vw;
  margin: 10px auto;
  padding: 10px;
}